services:
  python:
    build:
      dockerfile: ./docker/Dockerfile
      context: .
      args:
        PYTHON_VERSION: ${PYTHON_VERSION}
    entrypoint: /opt/docker/entrypoint.sh
    command: /true
    working_dir: /opt
    environment:
      XDG_CACHE_HOME: /tmp
      RELEASE_VERSION: ~
      RELEASE_CHANNEL: ~
      GO111MODULE: ~
    volumes:
      - ./:/opt
      - /etc/passwd:/etc/passwd:ro
      - ~/.ssh:/${HOME}/.ssh:ro
